<aside class="left-sidebar bg-black" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar bg-black">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav bg-black">
      <ul id="sidebarnav" class="pt-4">
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><span
              class="hide-menu">Dashboard</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><span
              class="hide-menu">Product Page</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/product/addProduct"
            aria-expanded="false"><span class="hide-menu">Add Product</span></a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/category/addcategory"
            aria-expanded="false"><span class="hide-menu">Add Product
              Category</span></a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>